@model CIS_420_WebApplication.Models.BoardMember

@{
    ViewData["Title"] = "Board Member Details";
}

<div class="container">
    <div class="nested-section">
        <div>
            <h2>Board Member</h2>
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            <hr />
            <h3>@Html.DisplayNameFor(model => model.Description)</h3>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div>
            <button class="btn btn-primary">
                <a asp-action="Edit" asp-route-id="@Model.UId">Edit</a>
            </button>
            <button class="btn btn-info">
                <a asp-action="Index">Back to List</a>
            </button>
        </div>
    </div>
</div>
