@{
    ViewData["Title"] = "About";
}

<div class="section-landing-about">
    <h1 class="section-title">About Us</h1>
</div>
<div class="section-wrapper">
    <div class="section-overlap">
        <h4>What do we provide?</h4>
        <p>
            Our main focus is to provide an environment in which our campers not only have the opportunity to interact with horses but are also learning about them under the supervision of our caring instructors.
            <br />
            <br />
            HOOF KY in partnership with the Louisville Equestrian Center has developed weekly summer Equine Academies that teach riding, equine care, equine physiology/psychology, and barn management in a safe and controlled environment. Participants are taught by ARIA certified instructors and trained counselors who provide equine expertise and build caring, pro-social relationships with each young person. Instructors (and the horses) expect participants to work, give respect, be responsible, and believe that they can reach beyond themselves.
        </p>
            <br />
        <h4>Why do we provide it?</h4>
        <p>Today young people are challenged to make healthy decisions in a culture laden with negative influences.   Given the stressors of family disruption, violence, and substance abuse, many youth become distrustful and build walls protecting themselves from their environments.  Many experience low self-image and a declining sense of personal empowerment, hiding behind the defenses of negative behaviors, manipulation, and isolation.  HOOF KY understands that you can’t fool a horse; consequently, our participants quickly learn that they must EARN the companionship of a horse which can positively impact their perspective and their life choices.</p>
    </div>
</div>