@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<div class="container">
    <div class="nested-section">
        <div class="col-md-8">

            <h1>Contact</h1>
            <h5>To receive more information about our program, summer camps, or silent auction contact us by using this form or through social media.</h5>
            
            <i class="fa fa-facebook-square" style="color:#3D5A98; font-size: 50px; display: inline-block; margin-right: 5px;"></i>
            <i class="fa fa-google-plus-square" style="color:#DD4B39; font-size: 50px; display: inline-block"></i>
            <br />
            <br/>
            <form class="form-horizontal" style="width: 100%;">
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputName" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" id="textArea" placeholder="Message"></textarea>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>

            <h3>Mailing Address</h3>
            <address>
                Horses Offering Opportunities for the Future, Inc.<br />
                P.O. Box 1303<br />
                Prospect, KY  40059<br />
                <abbr title="Phone">P:</abbr>
                502-558-7323
            </address>
        </div>
        <!--
            <address>
                <strong>Our Email:</strong> <a href="mailto:hoofky@gmail.com">hoofky@gmail.com</a><br />
            </address>
        -->

    </div>
</div>