@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Database Error</title>
</head>
<body>
    <h1>
        Could Not find a linked database.
    </h1>
    <h2>
        Select the link to continue without a data base (you will be unable to register or log in). <br />
        <a asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
    </h2>
</body>
</html>
