@{
    ViewData["Title"] = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<div class="section-landing-home">
    <h2 style="margin-top: 0px; font-weight: 700; color: white;">Horses Offering Opportunities for the Future, Inc.</h2>
    <h4 style="margin-top: 0px; font-weight: 700; color: white; background-color: #60a3c4; padding: 5px 10px;">A non-profit that connects at-risk youth to horses.</h4>
</div>
<div class="section-wrapper">
    <div class="section-overlap">
        <h2>Our Mission</h2>
        <p>
            The mission of Horses Offering Opportunities for the Future, Inc. (HOOF KY) is to connect at-risk, disadvantaged, and trauma-stricken  youth to horses and let horses work their magic.  Horses have the ability to touch the human spirit in ways not found in other relationships.  They can break down emotional walls and barriers of distrust, isolation, and manipulation as the young participants interact with  and take stewardship of the horses.

            This  human-equine interaction teaches respect, responsibility, discipline, and  personal empowerment.  These attributes prepare our HOOF KY participants to make positive  choices that lead to productive and healthy life styles.
        </p>
        <br/>
        <h2>About</h2>
        <p>HOOF KY in partnership with the Louisville Equestrian Center has developed weekly summer Equine Academies that teach riding, equine care, equine physiology/psychology, and barn management in a safe and controlled environment. Participants are taught by ARIA certified instructors and trained counselors who provide equine expertise and build caring, pro-social relationships with each young person. Instructors (and the horses) expect participants to work, give respect, be responsible, and believe that they can reach beyond themselves.  </p>
    </div>
</div>

